/* ********** Custom Properties ********** */

:root {
    --primary-font: 'Poppins', sans-serif;

    --green: #4CA154;
    --blue: #2A4DD0;
    --dark-blue: #111729;
    --light-blue: #223344;
    --gray-one: #909193;
    --gray-two: #F2F9FE;
    --white: #FFFFFF;
}

/* ********** Reset ********** */

html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    color: var(--light-blue);
    background-color: var(--gray-two);
}

a,
a:visited {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ********** Components ********** */
/* ****** Nav ****** */
.nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
}

.nav__logo-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav__logo-menu span {
    cursor: pointer;
}

.nav__link {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 100vh;
    background-color: var(--white);
}

.nav__link__list {
    margin-top: 20%;
    text-align: center;
}

.nav__link__list__item:not(:first-child) {
    margin-top: 3rem;
}

.nav__link__list__item:first-child {
    margin-top: 1rem;
}

.nav__link button {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

/* ****** Hero ****** */
.hero {
    display: flex;
    flex-direction: column-reverse;
}

.hero__image {
    max-width: 37.5rem;
    margin: auto;
    margin-top: 1rem;
    padding: 0 1.5rem;
}

.hero__text {
    margin-top: 6rem;
    padding: 0 4rem;
}

.hero__text > span:first-child{
    text-transform: uppercase;
}

.hero__text__check{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ********** Utilities ********** */
.container {
    max-width: 1200px;
    margin: auto;
}

.body-text {
    font-size: 1.125em;
}

.btn-text {
    font-size: 1em;
}

.small-text {
    font-size: .7em;
}

.tittle-text {
    font-size: 3em;
}

.material-symbols-outlined {
    user-select: none;
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}

.material-symbols-outlined:first-of-type {
    cursor: pointer;
    z-index: 1;
}

@media (min-width: 64rem) {
    .body-text {
        font-size: 1.125em;
    }

    .btn-text {
        font-size: 1em;
    }

    .small-text {
        font-size: .875em;
    }

    .tittle-text {
        font-size: 3.75em;
    }
}


/* ********** Site Styles ********** */