/* ********** Custom Properties ********** */

:root {
    --primary-font: 'Poppins', sans-serif;
    --color-green: #4CA154;
    --color-blue: #2A4DD0;
    --color-dark-blue: #111729;
    --color-light-blue: #223344;
    --color-white: #FFFFFF;
    --color-gray: #F2F9FE;
    --color-gray-two: #909193;
    --color-link-menu: #68748A;
    --color-sun: #223344;
    --color-moon: #F2F9FE;
    --color-bg-body: #F2F9FE;
    --color-theme-text: #223344;
    --position-switch: 5%;
}

[data-dark-mode] {
    --color-bg-body: #111729;
    --color-theme-text: #F2F9FE;
    --color-sun: #F2F9FE;
    --color-moon: #223344;
    --position-switch: 53%;
}

/* ********** Reset ********** */
html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-bg-body);
    transition: background-color .45s ease-out;
    -webkit-transition: background-color .45s ease-out;
    -moz-transition: background-color .45s ease-out;
    -ms-transition: background-color .45s ease-out;
    -o-transition: background-color .45s ease-out;
}

a,
a:visited {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ********** Components ********** */
/* ****** Nav ****** */
.nav {
    position: relative;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    padding: 0 1.3rem;
}

.nav__logo-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__logo-menu__link {
    height: 1.5rem;
}

.nav__logo-menu__btn {
    cursor: pointer;
    z-index: 1;
    position: fixed;
    top: 1rem;
    right: 1.3rem;
}

.nav__link {
    width: 65%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    translate: 100% 0;
    transition-property: translate, opacity, visibility, background-color;
    transition-duration: .45s;
}

.nav__link.isOpen {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
}

.nav__link__list {
    margin-top: 8vh;
    text-align: center;
    font-weight: 600;
}

.nav__link__list__item:not(:first-child) {
    margin-top: 2rem;
}

.nav__link__switch-mode {
    width: 3.5rem;
    height: 1.625rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
}

.nav__link__switch-mode::after {
    content: '';
    position: absolute;
    display: block;
    width: 40%;
    height: 85%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    top: 2px;
    right: var(--position-switch);
    transition: right .2s ease-in;
    -webkit-transition: right .2s ease-in;
    -moz-transition: right .2s ease-in;
    -ms-transition: right .2s ease-in;
    -o-transition: right .2s ease-in;
}

.nav__link__switch-mode span {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
}

/* ****** Hero ****** */
.hero {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1.3rem;
}

.hero__image {
    margin-top: 5rem;
}

.hero__text {
    padding: 0 2rem;
    margin-top: 8rem;
}

.hero__text>span {
    text-transform: uppercase;
    font-weight: 600;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}

.hero__text h1 {
    width: 80%;
    font-weight: 800;
    margin: 1rem 0;
    transition: color .3s;
}

.hero__text p {
    width: 80%;
    font-weight: 500;
    margin-top: 2rem;
}

.hero__text__btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

.btn-text {
    text-transform: uppercase;
    font-weight: 500;
    padding: .7rem 1.7rem;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
}

.hero__text__btn>span a {
    font-weight: 600;
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
    text-decoration-thickness: .15rem;
}

.hero__text__check {
    display: flex;
    height: 15vh;
    align-items: start;
    gap: 1.2rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.hero__text__check>span {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.hero__text__check>span svg {
    margin-right: .4rem;
}

@media (min-width:48rem) and (max-width:63.9375rem) {

    /* ****** Nav ****** */
    .nav__link {
        width: 40%;
    }

    /* ****** Hero ****** */
    .hero__image img {
        display: block;
        margin: 0 auto;
        max-width: 32rem;
    }

    .hero__text {
        padding: 0 5rem;
        margin-top: 5rem;
    }

    .hero__text>span {
        text-transform: uppercase;
        font-weight: 600;
    }

    .hero__text h1 {
        width: 50%;
    }

    .hero__text p {
        width: 50%;
    }
}


@media (min-width:64rem) {

    /* ****** Nav ****** */
    .nav {
        position: static;
        align-items: center;
        padding: 0 2rem;
    }

    .nav__logo-menu {
        width: 25%;
        display: flex;
        justify-content: start;
    }

    .nav__logo-menu__btn {
        display: none;
    }

    .nav__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        height: 100%;
        position: static;
        opacity: 1;
        visibility: visible;
        translate: unset;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }

    .nav__link__list {
        display: flex;
        width: 80%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        text-align: center;
        gap: 4rem;
    }

    .nav__link__list__item:not(:first-child) {
        margin-top: 0;
    }

    .nav__link__switch-mode {
        margin: 0;
    }

    /* ****** Hero ****** */
    .hero {
        flex-direction: row;
        gap: 2rem;
        margin-top: 5rem !important;
    }

    .hero__text {
        width: 50%;
        padding: 0 1.3rem;
        margin: 0;
    }

    .hero__image {
        width: 50%;
        margin: 0;
    }
}

/* ********** Utilities ********** */
.container {
    max-width: 1200px;
    margin: auto;
}

.body-text {
    font-size: 1em;
}

.btn-text {
    font-size: .8em;
}

.small-text {
    font-size: .7em;
}

.tittle-text {
    font-size: 1.7em;
}

.material-symbols-outlined {
    user-select: none;
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}

@media (min-width: 64rem) {
    .body-text {
        font-size: 1.125em;
    }

    .btn-text {
        font-size: 1em;
    }

    .small-text {
        font-size: .875em;
    }

    .tittle-text {
        font-size: 3.2em;
    }
}


/* ********** Site Styles ********** */
/* ****** Nav ****** */
.nav__logo-menu__btn {
    color: var(--color-light-blue);
}

.nav__link {
    background-color: var(--color-bg-body);
}

.nav__link__list__item:not(:first-child) a {
    color: var(--color-link-menu);
}

.nav__link__list__item:first-child a {
    transition: color .45s ease-out;
    color: var(--color-theme-text);
    -webkit-transition: color .45s ease-out;
    -moz-transition: color .45s ease-out;
    -ms-transition: color .45s ease-out;
    -o-transition: color .45s ease-out;
}

.nav__logo-menu__link__svg-path {
    fill: var(--color-theme-text);
}

.nav__logo-menu__btn {
    font-size: 2em;
}

.nav__link__list {
    font-weight: 600;
    font-size: 2rem;
}

.nav__link__switch-mode {
    background-color: var(--color-light-blue);
}

.nav__link__switch-mode::after {
    background-color: var(--color-gray);
}

.nav__link__switch-mode__moon {
    fill: var(--color-moon);
}

.nav__link__switch-mode__sun {
    fill: var(--color-sun);
    stroke: var(--color-sun);
}

/* ****** Hero ****** */
.hero__text>span {
    color: var(--color-theme-text);
}

.hero__text h1 {
    color: var(--color-theme-text);
}

.hero__text p {
    color: var(--color-gray-two);
}

.btn-text {
    color: var(--color-white);
    background-color: var(--color-blue);
}

.hero__text__btn>span a {
    color: var(--color-blue);
}

.hero__text__check>span {
    color: var(--color-gray-two);
}

.hero__text__check__path {
    fill: var(--color-green);
}

@media (min-width:64rem) {
    .nav__link__list {
        font-weight: 600;
        font-size: 1.1rem;
    }

    .nav__link {
        background-color: transparent;
    }
}